.form {
widht: 700px;
background-color: #719be3;
opacity: 1;
background: 
linear-gradient(135deg, #a3ce4d55 25%, transparent 25%) -17px 0/ 34px 34px, 
linear-gradient(225deg, #a3ce4d 25%, transparent 25%) -17px 0/ 34px 34px, 
linear-gradient(315deg, #a3ce4d55 25%, transparent 25%) 0px 0/ 34px 34px, 
linear-gradient(45deg, #a3ce4d 25%, #719be3 25%) 0px 0/ 34px 34px;
}

